$lucky-orange: #f5af19;
$almost-white: whitesmoke;
$card-stock: rgb(253, 253, 253);
$white: #fff;

$darker-blue: #213547;
$lighter-blue: #747bff;

$semi-transparent: rgba(238, 238, 238, 0.3);
$barely-transparent: rgba(238, 238, 238, 0.6);

$border-gray: #555555;
$border-radius: 10px;

$standard-font: Inter, Avenir, Helvetica, Arial, sans-serif;
$custom-font: 'Bungee Shade', Helvetica, Arial, serif;

$text-dark: #242424;

$button-green: rgb(95, 187, 115);
$nav-line-width: 5px;

$right-gradient: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
$left-gradient: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);