@use '../styles/animations';
@import '../styles/variables';

.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  overflow: hidden;
}

.aboutText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 3%;
  margin: 1% auto;
  background-color: $card-stock;
  border-radius: $border-radius;
  text-align: left;
  box-shadow: 4px 4px 8px 0px rgba(70, 70, 70, 0.6);
}

.h1 {
  padding: 10px;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3%;
}

.personal {
  background-color: $lucky-orange;
  color: $almost-white;
  padding: 1% 3%;
  border-radius: $border-radius;
  width: 80%;
  margin: 10px 0;
  box-shadow: 2px 2px 8px 0px rgba(70, 70, 70, 0.69);
}

@media (max-width: 900px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
  .aboutText {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}