@use '../../styles/animations';
@import "../../styles/variables";

.resume {
  padding: 15px;
  width: 220px;
  color: $almost-white;
  border: 1px solid transparent;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5%;
  background: $right-gradient;
  background-size: 400%;
  animation: gradient ease-in-out 5s infinite;
  cursor: pointer;
}