@import "../../styles/variables";

.host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: $lucky-orange 5px solid;
  margin-bottom: 5rem;
  padding-bottom: 1rem;
}

.navbar {
  padding-top: 30px;
}

.nav {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 5px 10px;
}