.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: #f5af19 5px solid;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
  padding-top: 30px;
  min-width: 100vw;
}

.nav {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 5px 10px;
}