@import "../../styles/variables";

.host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: $darker-blue $nav-line-width solid;
  margin-bottom: 5rem;
  padding-bottom: $nav-line-width;
}

.navbar {
  padding-top: 30px;
}

.nav, .activeNav {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 5px 10px;
  color: $darker-blue;
  text-decoration: none;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $lucky-orange;
  }

  &.activeNav {
    color: $lucky-orange;
    background-color: $darker-blue;
  }
}

