@use '../../styles/_animations';
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');


.bounceInTop {
  display: flex;
  place-content: center;
  margin: 0;
  padding: 2rem 0;
  animation: bounce-in-top 1.1s 0.4s both;
}

.heroTitle {
  background: -webkit-linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  background-size: 500%;
  animation: gradient ease-in-out 5s infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 4rem 0;
  font-family: 'Bungee Shade', cursive;
  font-size: 8rem;
  transition: color 0.3s ease-in-out;
}