@import "../../styles/variables";

.projectComponent {
  display: flex;
  place-content: center;
}

.image {
  max-width: 600px;
  width: 80%;
  border-radius: $border-radius;
  box-shadow: 2px 2px 8px 0px rgba(70, 70, 70, 0.69);
  transition: transform 0.5s ease;
}

.h2 {
  font-family: $custom-font;
  font-size: 3rem;
  line-height: 2.5rem;
  margin: 0 auto;
  transition: color 0.4s ease-in-out;
}

.projectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projectTile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $semi-transparent;
  max-width: 55%;
  margin-top: 3%;
  margin-bottom: 3%;
  border: 1px solid $border-gray;
  padding: 2%;
  border-radius: 20px;
  transition: background-color 0.6s ease;
}

.projectTile:hover {
  background-color: $barely-transparent;

  .h2 {
    color: $lucky-orange;
  }
}


.button {
  border: none;
  border-radius: $border-radius;
  padding: 15px;
  margin-top: 15%;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 45%;
}

.liveSite {
  background-color: $lucky-orange;
  color: $almost-white;
}

.githubCode {
  background-color: $button-green;
  color: $almost-white;
}

.description, .tech {
  width: 50%;
  margin-top: 4%;
  text-align: left;
}


@media (max-width: 900px) {
  .button {
    width: 200px;
    margin-top: 1rem;
  }

  .buttons {
    flex-direction: column;
    width: 80%;
  }

  .projectTile {
    max-width: 70%;
  }

  .description {
    width: 80%;
    margin-top: 4%;
  }

  .tech {
    width: 80%;
    margin-top: 4%;
  }

  .h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .projectTile {
    max-width: 80%;
    padding: 2%;
  }

  .tech {
    font-size: 0.75rem;
  }

  .h2 {
    font-size: 2rem;
    margin: 5px auto;
  }
}

@media (max-width: 400px) {
  .projectTile {
    max-width: 85%;
    padding: 2%;
  }

  .h2 {
    font-size: 1.5rem;
    margin: 5px auto;
  }
}
